.platformPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 150px 50px;
  gap: 20px;
}

.heading {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  font-family: "Pixelated", "Press Start 2P", cursive;
}

.plarformDescription {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  background-color: #646464;
  padding: 10px;
  border-radius: 8px;
  font-family: "Courier New", Courier, monospace;
}

.gameList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .platformPage {
    margin: 200px 20px 50px 20px;
  }

  .heading {
    font-size: 1rem;
  }

  .plarformDescription {
    font-size: 0.95rem;
    padding: 8px;
  }
}
