.platformCard {
    background-color: #4b4b4b;
    width: 250px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    text-align: center;
    justify-content: flex-start;
}

.platformCard:hover {

}

.platformCardImg {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.platformName {
  font-size: 1.2rem;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
}
