.reviewFormContainer h3 {
  font-family: "Pixelated", "Press Start 2P", cursive;
  text-align: center;
}

.reviewForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
}

.reviewForm textarea {
  resize: vertical;
  min-height: 100px;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #555;
  background-color: #222;
  color: #fff;
  width: 90%;
}

.reviewForm input[type="number"] {
  width: 80px;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #555;
  background-color: #222;
  color: #fff;
}

.reviewFormButtons {
  display: flex;
  gap: 12px;
}

.reviewForm button {
  background-color: #1c86ee;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.reviewForm button:hover {
  background-color: #559be6;
}

.textareaContainer {
  display: flex;
  justify-content: space-between;
}
