.gameCard {
  background-color: #4b4b4b;
  width: 250px;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  text-align: center;
  justify-content: flex-start;
}

.gameCard:hover {
  cursor: pointer;
}

h3 {
  font-size: 1.2rem;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: var(--ui-font);
  word-wrap: break-word;
}

.gameCardImg {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.description {
  width: 100%;
  height: 100px;
}

.heading {
  color: #fff;
}

.gameCardRating {
  font-size: 14px;
  font-family: var(--ui-font);
  color: #fff;
}
