:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --ui-font: "Inter", sans-serif;
  --ui-font-pxl: "Pixelated", "Press Start 2P", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pixelated", "Press Start 2P", cursive;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: block;
  height: auto;
  overflow-y: auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: fit-content;
  background-color: #4b4b4b;
}
button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
}

main {
  padding-top: 100px;
  height: auto;
  overflow-y: auto;
}

body,
p,
span,
li,
a,
input,
button {
  font-family: var(--ui-font);
  font-size: 16px;
  line-height: 1.6;
}
